<h1>WELCOME TO DOCUMENT EDITING</h1>
%br
<h2>Open Document</h2>
<p>You can open the document</p>

<h2>Edit Document</h2>
<p>Edit is haviest way to save the edited or new document.</p>


<h2>Delete Document</h2>
<p>To remove a file, you can put it in your trash.</p>


<h2>All Documents</h2>
<p>List of all documents are shown here</p>





